*{
    padding: 0;
    margin:0;
}
/* media scree ကူးရန် */
 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 

 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

 /* media screen ကူးရန်အဆုံး */

@font-face {
  font-family: font1;
  src: url(fonts/ItIsHard.ttf);
} 

@font-face {
    font-family: font2;
    src: url(fonts/Altheria-Regular.ttf);
  } 
  
@font-face {
    font-family: font3;
    src: url(fonts/Amigate\ Endgame.ttf);
  } 
  
@font-face {
    font-family: font4;
    src: url(fonts/Amigate\ Endgame\ Italic.ttf);
  } 
  
@font-face {
    font-family: font5;
    src: url(fonts/Childzone-Regular.otf);
  } 
  
@font-face {
    font-family: font6;
    src: url(fonts/clawless.ttf);
  } 
  
@font-face {
    font-family: font7;
    src: url(fonts/ASWEB___.TTF);
  } 

    
@font-face {
    font-family: font8;
    src: url(fonts/CasandraLiePersonalUse-Regular.otf);
  } 
  
    
@font-face {
    font-family: font9;
    src: url(fonts/Brass.ttf);
  } 

    
@font-face {
    font-family: font10;
    src: url(fonts/bola-ocho-demo-ffp.ttf);
  } 

   
@font-face {
    font-family: font11;
    src: url(fonts/ChromeYellowInlineNF.ttf);
  } 
   
@font-face {
    font-family: font12;
    src: url(fonts/ahsley.ttf);
  } 
  @font-face {
    font-family: font13;
    src: url(fonts/Yugoslavia_script-demo-ffp.ttf);
  }
  @font-face {
    font-family: font14;
    src: url(fonts/Smoedy.ttf);
  }
  @font-face {
    font-family: font15;
    src: url(fonts/Aclonica.ttf);
  }
  @font-face {
    font-family: font16;
    src: url(fonts/Penitencia-inline-demo-FFP.otf);
  }
  
  @font-face {
    font-family: font17;
    src: url(fonts/DiceGameDEMO.ttf);
  }
  @font-face {
    font-family: font18;
    src: url(fonts/SakBunderan.ttf);
  }
  @font-face {
    font-family: font19;    
    src: url(fonts/Altheria-Regular.ttf);
  }
  @font-face {
    font-family: font20;
    src: url(fonts/Explosion-3D.ttf);
  }
  

html .bgbody{
   
    background-image: url(images/container.png);
    background-size: cover;
    position:relative;
}
#icon{
    display: inline-block;
    position: sticky;
    top:50%;
    left:90%;
    width:5%;
    z-index: 200;
}

header{
   width: 100%;
   /* display: flex; */
   background-color: rgb(250, 246, 211);
   align-items: center;
    justify-content:end;   
    /* min-height: 100px; */
    position:sticky;
    top:0;
    z-index: 150;

}
#contact{
    background-color: rgb(250, 246, 211);
    width:100%;
    height:150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#contact .left{
    /* width:50%; */
    display: flex;
    padding: 15px 1.5%;
    /* background-color: blue; */
    background-color: rgb(250, 246, 211);
}
/* #contact .right{
    width:50%;
    
} */
#contact .left .footerlink{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color:rgb(0, 0, 87);
    width:7%;
    /* padding:10px; */
    margin:10px 10px;
    /* background-color: blanchedalmond;
    border-radius: 50%; */
    
}
#contact .left .footerlink i{
    font-size: 2rem;
    transition:1s;    
}

#contact .left .footerlink:hover i{
    font-size:2.3rem;
    color:black;
 }
 #contact .right{
    background-color: rgb(250, 246, 211);
 }
 .right .rightlink{
    text-decoration: none;   
    display: inline-block;
    padding:0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;   
    text-align: center;
    color:rgb(15, 2, 86);
    background-color: rgb(215, 215, 251);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition:1s;
    border:3px solid rgb(7, 0, 42);
 }

 
 .right .rightlink:hover{
    background-color: rgb(2, 2, 172);
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    
 }
 .right .thanks{    
    font-weight: bold; 
    margin:0.5rem 0rem;    
    color:rgb(0, 0, 87);
    
    
 }
.container-fluid .logogp{
   
    align-items: center;
    text-decoration: none;
}
.logogp img{
   
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
}
.logogp .name{
    font-family: font1;
    text-decoration: none;    
    font-weight: bold;
    font-size: 2.5rem;
    color:rgb(39, 30, 0);
   
}
.navbar-nav .nav-item{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.navbar-nav .nav-item:hover .nav-link{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    /* background-color: rgb(253, 253, 171); */
    color:white;
    text-shadow: 1px 2px 2px black;
}


/* logogp အတွက်  responsive အစ */
/* media scree ကူးရန် */
 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 

    .container-fluid .logogp{
        width:100%;
        display: inline-flex;  
        margin-bottom: 1rem;    
    }
    .logogp img{
        width:25%;       
    }
    .logogp .name{       
        margin-left: 2%;       
        margin-right: 10%;
    }
    #contact .left{
        width:100%;
       justify-content: end;
    }
    #contact .right{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .right .thanks{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.9rem;
        margin-left: 1%;
        line-height: 1.8rem;
        wdith:75%;
        padding:20px 0;
        margin-bottom: 15px;
        text-shadow: 2px 3px 5px white,
                2px 3px 5px white,                
                2px 3px 5px black,
                2px 3px 5px white,           
                2px 3px 5px black,
                2px 3px 5px white,           
                2px 3px 5px black;
    }
    .right .rightlink{
        width:20%;
       margin-left: 2%;
       padding:5px 5;
       margin-bottom: 15px;
    }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    .container-fluid .logogp{
        width:100%;
        display: inline-flex;  
        margin-bottom: 1rem;    
    }
    .logogp img{
        width:25%;       
    }
    .logogp .name{       
        margin-left: 2%;       
        margin-right: 10%;
    }
    #contact .left{
        width:100%;
       justify-content: end;
    }
    #contact .right{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .right .thanks{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.9rem;
        margin-left: 1%;
        line-height: 1.8rem;
        wdith:75%;
        padding:20px 0;
        margin-bottom: 15px;
        text-shadow: 2px 3px 5px white,
                2px 3px 5px white,                
                2px 3px 5px black,
                2px 3px 5px white,           
                2px 3px 5px black,
                2px 3px 5px white,           
                2px 3px 5px black;
    }
    .right .rightlink{
        width:20%;
       margin-left: 2%;
       padding:5px 5;
       margin-bottom: 15px;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .container-fluid .logogp{
        width:100%;
        display: inline-flex;  
        margin-bottom: 1rem;    
    }
    .logogp img{
        width:15%;       
    }
    .logogp .name{       
        margin-left: 2%;       
        margin-right: 10%;
    }
    #contact .left{
        width:100%;
       justify-content: end;
    }
    #contact .right{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .right .thanks{
        font-family:font13;
        font-size: 1.7rem;
        margin-left: 1%;
        line-height: 1.8rem;
        wdith:75%;
        padding:20px 0;
        margin-bottom: 15px;
        text-shadow: 2px 3px 5px white,
                2px 3px 5px white,                
                2px 3px 5px black,
                2px 3px 5px white,           
                2px 3px 5px black,
                2px 3px 5px white,           
                2px 3px 5px black;
    }
    .right .rightlink{
        width:20%;
       margin-left: 2%;
       padding:5px 5;
       margin-bottom: 15px;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container-fluid .logogp{
        width:35%;
        display:inline-flex;       
    }
    .logogp img{
        width:25%;       
    }
    .logogp .name{       
        margin-left: 2%;       
        margin-right: 10%;
    }
    .collapse .navbar-nav .nav-item{
        /*background-color: rgb(252, 202, 136);
        */background-color: rgb(249, 215, 170);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        margin:auto 0.5rem;
        padding:0rem 1rem;
        transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
        -moz-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
        -o-transform: skew(-10deg);
        /*color:white;
        */font-weight: bold;
        position: relative;
        transition:1s;
        /*border:2.5px solid rgb(48, 28, 1);
        *//*overflow: hidden;
        */-webkit-transition:1s;
        -moz-transition:1s;
        -ms-transition:1s;
        -o-transition:1s;
        -webkit-transition:1s;
}
    .collapse .navbar-nav .nav-item::after{
        content:"";
        position: absolute;
        /* border:2.5px solid rgb(48, 28, 1); */
        width:20px;
        height: 50%;
        border-radius: 50%;
        top:-5px;
        right:-5px;
        background-color: rgb(250, 246, 211);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    #contact .left{
        width:30%;
    }
    #contact .right{
        width:70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .right .thanks{
        font-size: 1.7rem;
        margin-left: 0.2%;
        font-family: font13;
        text-shadow: 2px 3px 5px white,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black;
    }
    .right .rightlink{
        width:15%;
        margin:0.5rem 2%;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid .logogp{
        width:30%;
        display: flex;       
    }
    .logogp img{
        width:25%;       
    }
    .logogp .name{       
        margin-left: 2%;       
        margin-right: 10%;
    }
    .collapse .navbar-nav .nav-item{
        background-color: rgb(249, 215, 170);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        margin:auto 0.5rem;
        padding:0rem 1rem;
        transform: skew(-10deg);
        -webkit-transform: skew(-10deg);
        -moz-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
        -o-transform: skew(-10deg);
        /* color:white; */
        font-weight: bold;
        position: relative;
        /* border:2.5px double rgb(48, 28, 1); */
       
        /* overflow: hidden; */
    }
    .collapse .navbar-nav .nav-item::after{
        content:"";
        position: absolute;
        /* border:2.5px double rgb(48, 28, 1); */
        width:20px;
        height: 50%;
        border-radius: 50%;
        top:-5px;
        right:-5px;
        background-color: rgb(250, 246, 211);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    #contact .left{
        width:50%;
    }
    #contact .right{
        width:50%;        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   
    .right .thanks{
        widht:100%;
        font-size: 2rem;
        margin-left: 5%;
        font-family: font13;
        text-shadow: 2px 3px 5px white,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black;
    }
    .right .rightlink{
        width:20%;
        margin:0.5rem 40%;
    }
 }

 /* media screen ကူးရန်အဆုံး */
 /* logogp အတွက် responsive အပိတ် */

.container{
    background-color: rgb(253, 232, 204);    
    min-height:2500px;
}
.home{
    position: relative;
}
.hometext .homename{
    font-family: font2;   
    color:darkblue;
    text-shadow:  5px 5px 5px black, 
                10px 10px 10px white,
                5px 5px 5px black;
   
}
.hometext .homework{
    font-family: font10; 
    text-shadow: -5px -5px 7px rgb(1, 6, 73),
    5px 5px 7px rgb(1, 6, 73);
    font-size: 2rem;
  
}
.home img{
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
   
}
.homebg{
    /* position:absolute;
    height:100%;
    width:35%; 
    right:10%;
    top:0; */
    transform: skew(-20deg);
    background-image: linear-gradient(to top right,rgb(252, 205, 145) 50%,transparent 50%);
    opacity: 0.5;  
    transition:ease-in-out 1s;
    border-radius: 50px;
   -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -webkit-border-radius: 50px;
    -webkit-transition:ease-in-out 1s;
    -moz-transition:ease-in-out 1s;
    -ms-transition:ease-in-out 1s;
    -o-transition:ease-in-out 1s;
}
.homebg:hover{   
    background-image: linear-gradient(to top right,transparent 50%,rgb(252, 205, 145) 50%);
  
}
@keyframes ani {
    0%{
       /* width:100%; */
       opacity:0.7;
    }
    20%{
        /* width:80%; */
        opacity:0.55;
    
    }
    40%{
        /* width:60%; */
        opacity:0.4;
    
    }
    60%{
        /* width:40%; */
        opacity:0.35;
    
    }
    80%{
        /* width:20%; */
        opacity:0.2;
    
    }
    100%{
        /* width:0%; */
        opacity:0;
    
    }    
}

/* media scree ကူးရန် */
 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 

    .home{       
        width:100%;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding:2rem;
    
    }
    .hometext .homename{      
        font-size: 5.5rem;       
        margin-left: 3rem;
    }
    .hometext .homework{       
        margin-left: 3rem;
    }
    .home img{        
        margin:1rem auto;
    }
    .homebg{
        position:absolute;
        height:45%;
        width:60%; 
        left:15%;
        top:48%;
        z-index: 100;
    }

 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    .home{       
        width:100%;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding:2rem;
    
    }
    .hometext .homename{      
        font-size: 5.5rem;       
        /* margin-left: 3rem; */
        text-align: center;
    }
    .hometext .homework{
       
        /* margin-left: 3rem; */
        text-align: center;
    }
    .home img{        
        /* margin:1rem auto; */
        text-align: center;
        width:50%;
        margin-left: 25%;
    }
    .homebg{
        position:absolute;
        height:60%;
        width:50%; 
        left:28%;
        top:35%;
        z-index: 100;
    }

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .home{       
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:2rem;
    
    }
    .hometext .homename{      
        font-size: 3.5rem;       
        margin-left: 3rem;
    }
    .hometext .homework{
       
        margin-left: 3rem;
    }
    .home img{        
        margin:1rem auto;
    }
    .homebg{
        position:absolute;
        height:80%;
        width:38%; 
        right:8%;
        top:6%;
        z-index: 100;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

    .home{       
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:2rem;
    
    }
    .hometext .homename{      
        font-size: 5.5rem;       
        margin-left: 3rem;
    }
    .hometext .homework{
       
        margin-left: 3rem;
    }
    .home img{        
        margin:1rem auto;
    }
    .homebg{
        position:absolute;
        height:84%;
        width:30%; 
        right:10%;
        top:10px;
        z-index: 100;
    }

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .home{       
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:2rem;
    
    }
    .hometext .homename{      
        font-size: 5.5rem;       
        margin-left: 3rem;
    }
    .hometext .homework{       
        margin-left: 5rem;
    }
    .home img{        
        margin:1rem auto;
    }
    .homebg{
        position:absolute;
        height:90%;
        width:33%; 
        right:10%;
        top:0;
        z-index: 100;
    }
 }

 /* media screen ကူးရန်အဆုံး */
 /* အဝင် animation များအစ */
 .hometext .homename{
    transition: animation 1s ease;
    /*opacity: 0;
    */animation: nameani forwards 1s ease;
    -webkit-animation: nameani forwards 1s ease;
    -webkit-transition: animation 1s ease;
    -moz-transition: animation 1s ease;
    -ms-transition: animation 1s ease;
    -o-transition: animation 1s ease;
    /*opacity: 1;
        */
}
@keyframes nameani {
    from{
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        opacity:0;
}
    to{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity:1;
}
    
}

.imgani{
    position:relative;
    transition: animation 1s ease;
    -webkit-transition: animation 1s ease;
    -moz-transition: animation 1s ease;
    -ms-transition: animation 1s ease;
    -o-transition: animation 1s ease;
    animation:imgani forwards 1s ease 1;
    -webkit-animation:imgani forwards 1s ease 1;
    
}
@keyframes imgani {
    from{
        left:100%;
    }
    to{
       left:0%;
    }

    
}
.homework{
    transition:animation 1s ease;
    -webkit-transition:animation 1s ease;
    -moz-transition:animation 1s ease;
    -ms-transition:animation 1s ease;
    -o-transition:animation 1s ease;
    animation:homeworkani 1s forwards 1 ease;
    -webkit-animation:homeworkani 1s forwards 1 ease;
}
@keyframes homeworkani {
    from{
        opacity:0;
        color:white;
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
}
    to{
        opacity: 1;
        color:rgb(251, 237, 35);
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    
}
 /* အဝင် animation များအဆုံး */

 /* passedtime section အစ  */
 .titlegp{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: left;
 }
 .timetitle{
    width:70%;
    display: inline-block;
    font-family: font2;
    font-weight: bold;
    color:brown;
    font-size: 3rem;
    white-space: pre;
    letter-spacing: 3px;
    text-shadow: 2px 3px 5px white,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px black,
                2px 3px 5px white,
                2px 3px 5px black,
                2px 3px 5px black;
 }
 .titlegp  img{
    position:relative;
    width:12%;
    height: 12%;
    top:-40px;
    left:0%;
    /* transform: rotate(90deg);   
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); */
    transition:animation;
    -webkit-transition:animation;
    -moz-transition:animation;
    -ms-transition:animation;
    -o-transition:animation;
    animation:walk 7s infinite;
    -webkit-animation:walk 7s infinite;
}


@keyframes walk {
    0%{
        opacity: 1;
        left:0%;
    }
    10%{
        left:20%;
    }
    20%{
        left:40%;
    }
    30%{
        left:60%;
    }
    40%{
        left:80%;
    }
    50%{
        left:100%;
    }
    60%{
        left:105%;
    }
    70%{
        left:110%;
    }
    80%{
        left:115%;
    }
    90%{
        left:120%;
    }
    100%{
        left:125%;
        opacity: 0;
    }
   

}
.subtitle{
    font-weight: bolder;
    color:rgb(6, 3, 211);
    text-shadow: 5px 5px 4px rgb(253, 253, 253) ,
                5px 5px 4px rgb(0, 0, 0),
                5px 5px 4px rgb(238, 219, 219);
    font-family: 'font12';
    text-align: center;
    /* font-size: 2.5rem; */
}
.time .row{
    width:90%;
    margin-left: 5%;
    
    padding:0.5rem;
   
}
.time .row-color{
    background-color: #fbdade;
    box-shadow: 2px 3px 5px black,
    2px 3px 5px rgb(255, 255, 255),
    2px 3px 5px rgb(255, 255, 255),
    2px 3px 5px black;
}
.time .row1{
    display: inline-flex;
    width:90%;
    margin-left: 5%;
}
.col-10 .card img{
    box-shadow: 2px 3px 5px white,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px white,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black;
}
.col-10 .card{
    /* background-color: rgb(248, 209, 162); */
  background-color: transparent;
  border:none;
}
.col-10 .card p{
    text-indent: 2.5rem;
    text-shadow: 1px 1px 1px gray;
    line-height: 1.8rem;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    font-size: large;
}

.time .row{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin:auto;
    /* min-height: 200px; */
}
.row .col-lg-6{
    position:relative;
}
#carouselExampleSlidesOnly{
    background-color: rgb(190, 236, 251);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item img{
    width:100%;
    height: 220px;
}



 /* passedtime section အဆုံး  */
/* projects section အစ */
.projects .row{
    width:90%;
    margin-left: 5%;
}
.col-md-6 iframe,.col-md-6 video{
    width:90%;
    height:230px;
    margin:auto;
    box-shadow: 2px 3px 5px white,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px white,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px black,
    2px 3px 5px white,
    2px 3px 5px black,
    2px 3px 5px black;
    
}
.row .sub{
    color:purple;
    font-weight: bold;
    background-color: rgb(253, 209, 143);
    padding:10px 15px;
    display: inline-block;
    border-radius: 500px;
    width:40%;
    margin:20px 0;
    font-family: font15;
}
.row .subpara{
    text-align: justify;
    hyphens: auto;
   
}
.row .subpara2{
   text-align: center;  
   color:rgb(100, 3, 21);
   border-radius: 500px;
   display:inline-block;   
   font-family: font9;
   /* background-image: linear-gradient(to top,rgb(198, 198, 250),rgb(252, 182, 252),rgb(252, 237, 151),rgb(242, 232, 232),rgb(151, 249, 151)); */
   background-image:url(https://media.giphy.com/media/xUA7bdb438bTcgY0h2/giphy.gif?cid=ecf05e47s848yaos4j1a9soduzpctns4novxq1vn28twyb3a&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   text-shadow: 1px 2px 3px white,1px 2px 3px rgb(46, 66, 254),1px 2px 3px black;
   animation: bgmoving 1s infinite;
   background-size: 200%;
   background-position:0%;
}
.row .sub2{
    font-weight: bold;
    color:rgb(94, 2, 2);
    font-family: font20;
    
    background-image: radial-gradient(closest-side,brown,rgb(1, 103, 121),rgb(223, 62, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke-width: 0.03px; 
     -webkit-text-stroke-color: rgb(9, 7, 7); */
    

}
.modal-body iframe{
    width:100%;
    min-height: 350px;
}
/* media scree ကူးရန် */
 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .subtitle{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
    .row .sub{
        width:100%;
        font-size: 1.15rem;
    }
    .row .subpara{
        font-size: 1rem;
        line-height: 1.5rem;
        text-indent: 2.5rem;
    }
   .row .sub2{
    font-size: 1.2rem;
   }
    .row .subpara2{
        font-size: 1rem;
        width:60%;
        margin:0   35%;
        padding:20px 20px;
        margin-top: 20px;
       
    }

 }


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .subtitle{
        font-size: 2rem;
    }
    .row .sub{
        width:80%;
        font-size: 1.15rem;
    }
    .row .subpara{
      
        font-size: 1rem;
        line-height: 1.5rem;
        text-indent: 2.5rem;
    }
    .row .sub2{
        font-size: 1.5rem;
       }
       .row .subpara2{
        font-size: 1rem;
        width:50%;
        margin:0   47%;
        padding:20px 20px;
        margin-top: 20px;
    }
   
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .subtitle{
        font-size: 2.1rem;
    }
    .row .sub{
        width:60%;
        font-size: 1.2rem;
    }
    .row .subpara{
        font-size: 1rem;
        line-height: 1.5rem;
        text-indent: 3rem;
    }
    .row .sub2{
        font-size: 1.5rem;
       }
       .row .subpara2{
        font-size: 1.2rem;
        width:50%;
        margin:0   50%;
        padding:20px 20px;
    }
   
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .subtitle{
        font-size: 2.3rem;
    }
    .row .sub{
        width:57%;
        font-size: 1.2rem;
    }
    .row .subpara{
        font-size: 1.3rem;
        line-height: 1.85rem;
        text-indent: 3.5rem;
    }
    .row .sub2{
        font-size: 2.2rem;
       }
       .row .subpara2{
        font-size: 1.2rem;
        width:38%;
        margin:0   52%;
        padding:25px 20px;
    }
   
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .subtitle{
        font-size: 2.5rem;
    }
    .row .sub{
        width:52%;
        font-size: 1.2rem;
    }
    .row .subpara{
        font-size: 1.3rem;
        line-height: 1.85rem;
        text-indent: 3.5rem;
    }
    .row .sub2{
        font-size: 2.5rem;
       }
       .row .subpara2{
        font-size: 1.5rem;
        width:38%;
        margin:0   62%;
        padding:20px 15px;
    }
 }

 /* media screen ကူးရန်အဆုံး */
/* projects section အဆုံး */